<select name="roots_level" required="" id="id_roots_level">	
{% for level in roots_level_range %}							
	<option value="{{ level }}" {% if selected_level_range == level %}selected{% endif %}> {{ level }} </option>
{% endfor %}
</select>						
<p style="display:inline">&nbsp;</p>							
<select name="root" required="" id="id_root">
</select> 
							
<script>
function getType2() {
  var x = document.getElementById("id_roots_level").value;
  if (x === "{{ rootsbyleveljs_levels.0.1 }}") {
    items = {{ rootsbyleveljs_levels.0.0|safe }};
  }	
  
{% for roots, level in rootsbyleveljs_levels|slice:range_1 %} 
  else if (x === "{{ level }}") {
    items = {{ roots|safe }}    }
{% endfor %}

  else { 
    items = [];
  }
  
  var str = "";
  var s;
  for (var item of items) {    
    if (item.id === {{ selected_root_id }}) {s = " selected";} else {s = "";}
    str += "<option value="+item.id + s +">"+item.strg+"</option>"
  } 
  document.getElementById("id_root").innerHTML = str;
}
document.getElementById("id_roots_level").addEventListener("change", getType2)
getType2()
</script> 