{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block content %}
<div id="content-main">
  <form method="post" enctype="multipart/form-data" action="{% url 'admin:post_change' id %}">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.errors }}
    {% block submit_buttons_bottom %}
      <button type="submit"> submit </button>
    {% endblock %}
    <a href="{% url 'admin:post_delete' id %}" class="deletelink"> delete </a>
  </form>
</div>
{% endblock %}