<select name="father_category" id="id_father_category">
	<option value="">---------</option>
</select> 


<script>
function getType3() {
  var x = document.getElementById("id_level").value;
  if (x === "{{ categoriesbyleveljs_levels.0.1 }}") {
    items = {{ categoriesbyleveljs_levels.0.0|safe }};
  }	
  
{% for categories, level in categoriesbyleveljs_levels %}
  else if (x === "{{ level }}") {
    items = {{ categories|safe }}    }
{% endfor %}

  else { 
    items = [];
  }
  
  var str = '<option value="">---------</option>';
  var s;
  for (var item of items) {    
    if (item.id === {{ selected_category_id }}) {s = " selected";} else {s = "";}
    str += "<option value="+item.id + s +">"+item.str+"</option>"
  } 
  document.getElementById("id_father_category").innerHTML = str;
}
document.getElementById("id_level").addEventListener("change", getType3)
getType3()
</script> 